# Environment variables
.env
*.env
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
backend/venv/
venv/
ENV/

# Flutter / Dart
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/build/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
